.logo{
    width: 8rem;
    position: relative;
    bottom: -2rem;
}

body{
    scroll-behavior: smooth;
    font-family: 'Tiro Telugu', serif;
}

.NavbarPrinc{
    position: relative;
    background-color: rgba(69, 69, 69, 0.387);
}


.aboutUs{
    background-image: url("images/img_1.JPG");
    background-size: cover;
    background-position: center;
    min-height: 500px;
    color: white ;
}

.aboutSection{
    margin: auto;
    max-width: 1000px;
}

.backgroundPrinc{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}

.BackgroundDiv{
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/fundo.JPG");
    background-size: cover;
    background-position: center;
}

.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}

.center img{
    height: 250px;
}

.center h1{
    color: white;
    text-shadow: 2px 2px 1px black;
}

.NavPrinc{
    position: absolute;
    top:0;
    
}

.social{
    cursor: pointer;
}

.social :hover{
    color: black;
}

.NavPrinc i{
    color: white;
}

 .btn{
    color: white;
}

.sectionTitle{
    font-size: 4rem;
    margin-bottom: 3rem;
    font-family: 'Bevan', cursive;
    padding: 0;
    margin: 0;
}

.sectionSubtitle{
    font-family: 'Pacifico', cursive;
    padding: 0;
    margin-bottom: 3rem;
    font-size: 2rem;
}

i{
    font-size: 50px;
}

.gallerySection{
    background: url("images/coffe.jpg") ;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
}

.hours{
    font-family: 'Bevan', cursive;
    text-shadow: 2px 2px 1px black;
}

.orange{
    color:rgb(255, 119, 0);
}

.brown{
    color:rgb(49, 23, 0);
}




.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.catchP{
    color: white;
    padding: 0;
    margin: 0;
}


@media (min-width: 768px) {
    .carousel-inner {
      display: flex;
    }
    .carousel-item {
      margin-right: 0;
      flex: 0 0 33.333333%;
      display: block;
      padding-right: 10px;
    }
  }